<div data-role="view" data-title="Pallet Audit" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div id="homeModel" class="form-view">
        <form id="palletForm">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label>

                        <span>Pallet ID</span>

                        <input id="palletID" data-bind="value: homeModel.fields.pallet" type="text">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Employee Name</span>

                        <input id="empName" data-bind="value: homeModel.fields.employee" placeholder="John Doe" type="text">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Route</span>

                        <input id="route" data-bind="value: homeModel.fields.route" placeholder="123" type="text">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Pallet Number</span>

                        <input id="palletNum" data-bind="value: homeModel.fields.palletNum" type="text">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Any mispicks found?</span>

                        <input id="mispicks" data-bind="value: homeModel.fields.mispicks" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false"/>
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Pallet built well?</span>

                        <input id="wellBuilt" data-bind="value: homeModel.fields.builtWell" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false" >
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>All liquids upright?</span>

                        <input id="liquidsUpright" data-bind="value: homeModel.fields.liquidsUpright" data-role="switch" data-off-label="No" data-on-label="Yes"data-checked="false" >
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Crushable cases on bottom of pallet?</span>

                        <input id="crushable" data-bind="value: homeModel.fields.crushable" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Meat/Chemicals on bottom of pallet?</span>

                        <input id="meatChem" data-bind="value: homeModel.fields.meatChem" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false" >
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Eaches in boxes per stop?</span>

                        <input id="eaches" data-bind="value: homeModel.fields.eachesBoxes" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Stop sequence followed?</span>

                        <input id="stopSeq" data-bind="value: homeModel.fields.stopSeq" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false" >
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Pallet wrapped well?</span>

                        <input id="wrappedWell" data-bind="value: homeModel.fields.wrapped" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>All catch weights accurate?</span>

                        <input id="catchWgt" data-bind="value: homeModel.fields.catchWgt" data-role="switch" data-off-label="No" data-on-label="Yes" data-checked="false">
                    </label>

                </li>
                <li class="form-content-item">


                    <label>

                        <span>Comments</span>

                        <input id="comments" data-bind="value: homeModel.fields.comments" type="text">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: homeModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.submit }">Submit</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_homeModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_homeModel -->
    </div>

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>