<div data-role="view" data-title="Success" data-layout="main" data-model="app.welcomeView" data-show="app.welcomeView.onShow" data-after-show="app.welcomeView.afterShow">

    <!-- START_CUSTOM_CODE_welcomeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!--***WELCOME SCREEN***-->

    <h1>
    Audit submitted successfully
    </h1>
	<br/>
    <br/>
    <br/>
    
    <div class="button-group button-group-horizontal">
        <a href="components/home/view.html" data-role="button" class="primary">Create New Audit</a>
        <a href="components/masterDetailView/view.html" data-role="button">Past Audits</a>
    </div>


    <!-- END_CUSTOM_CODE_welcomeView -->
</div>