<div data-role="view" data-title="Welcome" data-layout="main" data-before-show="app.welcomeView.beforeShow" data-show="app.welcomeView.onShow">

    <!-- START_CUSTOM_CODE_welcomeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!--***WELCOME SCREEN***-->
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
    <h1>
    Welcome <span id="firstName"></span>!!
    </h1>
	<br/>
    <br/>
    <br/>
    <h4>
        The last audit was completed on <span id="lastAuditDate"></span>.
    </h4>
    
    <button id="create-audit-btn" class="btn btn-primary btn-xlg btn-block"><span class="glyphicon glyphicon-plus"></span> Create New Audit</button>
    <button id="past-audits-btn" class="btn btn-default btn-xlg btn-block"><span class="glyphicon glyphicon-list"></span> Past Audits</a>
    </div>


    <!-- END_CUSTOM_CODE_welcomeView -->
</div>