<div data-role="view" data-title="Welcome" data-layout="main" data-show="app.welcomeView.onShow">

    <!-- START_CUSTOM_CODE_welcomeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!--***WELCOME SCREEN***-->

    <h1>
    Welcome <span id="firstName"></span>!!
    </h1>
	<br/>
    <br/>
    <br/>
    <h4>
        The last audit was completed on <span id="lastAuditDate"></span>.
    </h4>
    
    <div class="button-group button-group-horizontal">
        <a href="components/home/view.html" data-role="button" class="primary">Create New Audit</a>
        <a href="components/masterDetailView/view.html" data-role="button">Past Audits</a>
    </div>


    <!-- END_CUSTOM_CODE_welcomeView -->
</div>