<div id="auditDetailView" data-role="view" data-title="Details" data-model="app.listModel" data-before-show="app.auditListDetail.beforeShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <a data-role="backbutton" data-align="left">Back</a> <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Detail</span>            </div>
    </header>
    <div id="details">
        <ul class="list-group">
            <li class="list-group-item">
                <p>Pallet Audit Id: <span data-bind="html: PALLET_ID"></span></p>
            </li>
            <li class="list-group-item">
                <p>Date: <span data-bind="html: STAMP_DT"></span></p>
            </li>
            <li class="list-group-item">
                <p>Time: <span data-bind="html: STAMP_TM"></span></p>
            </li>
            <li class="list-group-item">
                <p>Employee: <span data-bind="html: EMP_NAME"></span></p>
            </li>
            <li class="list-group-item">
                <p>Pallet Number: <span data-bind="html: PALLET_NUM"></span></p>
            </li>
            <li class="list-group-item">
                <p>Route: <span data-bind="html: ROUTE"></span></p>
            </li>
            <li class="list-group-item">
                <p>Mispicks found?: <span data-bind="html: MISPICKS"></span></p>
            </li>
            <li class="list-group-item">
                <p>Pallet built well?: <span data-bind="html: BUILT_WELL"></span></p>
            </li>
            <li class="list-group-item">
                <p>All liquids upright?: <span data-bind="html: LIQUIDS_UPRIGHT"></span></p>
            </li>
            <li class="list-group-item">
                <p>Crushable cases on bottom of pallet?: <span data-bind="html: CRUSHABLE"></span></p>
            </li>
            <li class="list-group-item">
                <p>Meat/Chemicals on bottom?: <span data-bind="html: MEAT_CHEM"></span></p>
            </li>
            <li class="list-group-item">
                <p>Eaches in boxes per stop?: <span data-bind="html: EACHES_BOXES"></span></p>
            </li>
            <li class="list-group-item">
                <p>Stop sequence followed?: <span data-bind="html: STOP_SEQ"></span></p>
            </li>
            <li class="list-group-item">
                <p>Wrapped well?: <span data-bind="html: WRAPPED"></span></p>
            </li>
            <li class="list-group-item">
                <p>All catch weights good?: <span data-bind="html: Catch_Wgt"></span></p>
            </li>
            <li class="list-group-item">
                <p>Comments: <span data-bind="html: COMMENTS"></span></p>
            </li>
        </ul>
    </div>
</div>