<div id="auditDetailView" data-role="view" data-title="Details" data-model="app.listModel" data-before-show="app.auditListDetail.beforeShow" data-hide="app.auditListDetail.onHide">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <a data-role="backbutton" data-align="left">Back</a> <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Detail</span>            </div>
    </header>
    <div id="details">
        <ul data-role="listview" class="list-group">
            <li class="list-group-item">
                <h4>Pallet Audit Id: <span class="pull-right" data-bind="html: PALLET_ID"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Date: <span class="pull-right" data-bind="html: STAMP_DT"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Time: <span class="pull-right" data-bind="html: STAMP_TM"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Employee: <span class="pull-right" data-bind="html: EMP_NAME"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Pallet Number: <span class="pull-right" data-bind="html: PALLET_NUM"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Route: <span class="pull-right" data-bind="html: ROUTE"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Mispicks found?: <span class="pull-right" data-bind="html: MISPICKS"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Pallet built well?: <span class="pull-right" data-bind="html: BUILT_WELL"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>All liquids upright?: <span class="pull-right" data-bind="html: LIQUIDS_UPRIGHT"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Crushable cases on bottom of pallet?: <span class="pull-right" data-bind="html: CRUSHABLE"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Meat/Chemicals on bottom?: <span class="pull-right" data-bind="html: MEAT_CHEM"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Eaches in boxes per stop?: <span class="pull-right" data-bind="html: EACHES_BOXES"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Stop sequence followed?: <span class="pull-right" data-bind="html: STOP_SEQ"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Wrapped well?: <span class="pull-right" data-bind="html: WRAPPED"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>All catch weights good?: <span class="pull-right" data-bind="html: Catch_Wgt"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Ice cream insulated properly?: <span class="pull-right" data-bind="html: ICE_CREAM"></span></h4>
            </li>
            <li class="list-group-item">
                <h4>Comments: <span class="pull-right" data-bind="html: COMMENTS"></span></h4>
            </li>
        </ul>
    </div>
</div>