
/*Styles added by Devon*/
label {
    display: inline;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 18px 0;
}

.km-list>li {
    line-height: 1.9em;
}

.list-item-title {
    font-weight: bold;
    color: #9f3635;
}

.km-modalview .km-scroll-container {
    text-align: center;
}

/*styles for date picker inputs*/
.k-picker-wrap .k-input, .k-autocomplete .k-input {
    height: 2.5em;
    line-height: 2.5em;
}

#auditList .list-group-item {
    border: none;
}

/*styles for login button*/
#signInBtn {
    color: #ffffff;
}

#details li {
    line-height: 1.2em;
    padding: 0.2em 0.7em;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}
