
/*Styles added by Devon*/
label {
    display: inline;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 18px 0;
}

.km-list>li {
    line-height: 1.9em;
}