<div data-role="view" data-title="Login" data-reload="true" data-layout="login-layout" data-model="app.loginViewModel" data-show="app.loginViewModel.onShow">
    <div class="signin-view">
        <form class="form-signin">
            <h3 class="form-signin-heading">
                Please Log In
            </h3>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Username
                        <input id="userName" type="text" data-bind="value: userName" required autofocus>
                    </label>
                </li>
                <li>
                    <label>Password
                        <input id="password" type="password" data-bind="value: password" required>
                    </label>
                </li>
            </ul>
            <a id="signInBtn" class="btn btn-primary btn-xlg btn-block" data-bind="events: { click: signin }">Sign In</a>
            <div id="errorMessage" style="visibility: hidden">
            </div>
        </form>

        <!-- Kendo modal-->
        <div data-role="modalview" id="logout-window" style="width: 300px; height: 200px">
            <div data-role="header">
                <span data-role="view-title">Log Out</span>
            </div>
            <h4>Are you sure you want to log out?</h4>
            <div class="btn-group">
                <button id="yes-logout-btn" class="btn btn-lg btn-primary">Yes</button>
                <button id="no-logout-btn" class="btn btn-lg btn-default">No</button>
            </div>
        </div>

        <!--Bootstrap modal-->
        <!--
        <div id="logout-window" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Logout</h5>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to log out?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="yes-logout-btn" class="btn btn-lg btn-primary">Yes</button>
                        <button id="no-logout-btn" class="btn btn-lg btn-default">No</button>
                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
</div>