<div data-role="view" data-title="Add" data-model="app.masterDetailView.addItemViewModel" data-bind="events: { show: onShow }" id="masterDetailViewModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_masterDetailViewModel -->
    <!-- END_CUSTOM_CODE_masterDetailViewModel -->
    <div id="editableListForm22" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label>

                        <span>Pallet ID</span>

                        <input id="createPallet" data-bind="value: addFormData.createPallet" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Pallet number</span>

                        <input id="createPalletNum" data-bind="value: addFormData.createPalletNum" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Route</span>

                        <input id="createRoute" data-bind="value: addFormData.createRoute" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Mispicks found?</span>

                        <input id="createMispicks" data-bind="value: addFormData.createMispicks" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Pallet built well?</span>

                        <input id="createBuiltWell" data-bind="value: addFormData.createBuiltWell" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>All liquids upright?</span>

                        <input id="createLiquidsUpright" data-bind="value: addFormData.createLiquidsUpright" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Crushable cases on bottom of pallet?</span>

                        <input id="createCrushable" data-bind="value: addFormData.createCrushable" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Meat/Chemicals on bottom of pallet?</span>

                        <input id="createMeatChem" data-bind="value: addFormData.createMeatChem" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Eaches in boxes per stop?</span>

                        <input id="createEachesBoxes" data-bind="value: addFormData.createEachesBoxes" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Stop sequence followed?</span>

                        <input id="createStopSeq" data-bind="value: addFormData.createStopSeq" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Pallet wrapped well?</span>

                        <input id="createWrapped" data-bind="value: addFormData.createWrapped" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Comments</span>

                        <input id="createComments" data-bind="value: addFormData.createComments" type="text">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm22 -->
        <!-- END_CUSTOM_CODE_editableListForm22 -->
    </div>
</div>