<div data-role="view" data-title="Details" data-model="app.masterDetailView.masterDetailViewModel" data-bind="events: { show: detailsShow }" id="masterDetailViewModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.EMP_NAME" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>

    <div class="details-content">


        <p class="editableListItem"><span>Short text</span><span data-bind="text: currentItem.PALLET_ID"></span></p>
        <p class="editableListItem"><span>Pallet number</span><span data-bind="text: currentItem.PALLET_NUM"></span></p>
        <p class="editableListItem"><span>Short text</span><span data-bind="text: currentItem.ROUTE"></span></p>
        <p class="editableListItem"><span>Mispicks Found?</span><span data-bind="text: currentItem.MISPICKS"></span></p>
        <p class="editableListItem"><span>Pallet built well?</span><span data-bind="text: currentItem.BUILT_WELL"></span></p>
        <p class="editableListItem"><span>All liquids upright?</span><span data-bind="text: currentItem.LIQUIDS_UPRIGHT"></span></p>
        <p class="editableListItem"><span>Crushable cases on bottom of pallet?</span><span data-bind="text: currentItem.CRUSHABLE"></span></p>
        <p class="editableListItem"><span>Meat/Chemicals on bottom of pallet?</span><span data-bind="text: currentItem.MEAT_CHEM"></span></p>
        <p class="editableListItem"><span>Eaches in boxes per stop?</span><span data-bind="text: currentItem.EACHES_BOXES"></span></p>
        <p class="editableListItem"><span>Stop sequence followed?</span><span data-bind="text: currentItem.STOP_SEQ"></span></p>
        <p class="editableListItem"><span>Pallet wrapped well?</span><span data-bind="text: currentItem.WRAPPED"></span></p>
        <p data-bind="text: currentItem.COMMENTS"></p>
    </div>
    <!-- START_CUSTOM_CODE_masterDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_masterDetailViewModel -->
</div>