<div id="reportOptions" data-role="view" data-title="Choose Report Options" data-layout="main" data-show="app.reportOptions.onShow">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <label for="empInput">Employee: </label>
                <input id="empInput" class="hiddenInput" type="text"/>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <label for="routeInput">Route: </label>
                <input id="routeInput" class="hiddenInput" type="text"/>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <label for="dateInput">Date: </label>
                <input id="dateInput" />
            </label>
        </div>
    </div>
    <button id="choiceButton">OK</button>
</div>